.positionSection-Container {
  background-color: #151924;
  color: #fffff0;
  height: 100vh;
}

.positionSection-Container .Select_Leverage-section .form-select {
  background-color: #151924 !important;
  color: #fffff0;
}
