.integratedSection {
  display: flex;
  flex-direction: row;
  /* 그냥 너비를 w-full 사용 // 여기 너비 100%로 해두면, 기존 뷰포트 100%를 초과하네 */
}

.sec1 {
  width: 75vw;
  height: 100vh; /* 지정해두어야 되는구나 */
}

.sec2 {
  width: 25vw;
  height: 100vh;
}
