.custom-Btn {
    /* 부트스트랩 보다 우선시 */
    color : #089981 !important;
    border: transparent !important;
    background-color: transparent !important;
    font-weight: bold !important;
    min-width: 70.91px;
}